<!-- set one or more values on multiple records (identified by an ESGF query) -->
<updates core="datasets" action="set">
   <update>
      <query>source_id=YYYY&amp;variable_id=XXXX</query>
      <field name="latest">
         <value>false</value>
      </field>
   </update>
</updates>
